* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
  height: 100%;
  overflow-y: hidden;
}

input::placeholder {
  color: rgba(181, 181, 190, 1)
}

textarea {
  border: none;
  resize: none;
  outline: none;

  &::placeholder {
    color: rgba(108, 117, 125, 1)
  }
}

a:visited {
  color: rgba(0, 98, 255, 1);
}

// Login page
.authInput {
  width: 356px;
}

.authBtn {
  margin-top: 40px;
  font-size: 20px;
  width: 356px;
  height: 46px;
}

.login-linkContainer {
  position: absolute;
  right: 0px;
  bottom: -50px;
}

// User page
.mainContainer {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 198px 1fr;
  height: 100vh;

  // LeftContainer
  .leftContainer {
    margin-top: 8px;
    position: relative;
    height: 100%;
    margin-right: 20px;

    .leftContainer-logo {
      margin: 0 10px;
    }

    .leftContainer-list {

      .leftContainer-list-item {
        display: flex;
        margin: 32px 0;
        cursor: pointer;
        text-decoration: none;

        .leftContainer-list-icon {
          width: 24px;
          height: 24px;
          margin: 0 16px;
        }

        .leftContainer-list-text {
          font-size: 18px;
          font-weight: 700;
          line-height: 26px;
          color: black;
        }

        .active {
          color: rgba(255, 102, 0, 1)
        }
      }

      .leftContainer-list-postBtn {
        width: 100%;
        height: 46px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
      }

      .leftContainer-list-logOut {
        position: absolute;
        bottom: 0;
      }
    }
  }

  // PostContainer
  .postContainer {
    width: 100%;
    border: 1px solid rgba(230, 236, 240, 1);
    flex-direction: column;
    height: 100vh;
    padding-bottom: 60px;

    .postContainer-header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(230, 236, 240, 1);

      .header-content {
        margin: 16px;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
      }
    }

    .postContainer-post {
      height: 100%;
      overflow-y: auto;

      //卷軸底部
      &::-webkit-scrollbar-track {
        background-color: rgba(240, 240, 240, 1);
      }
    
      //卷軸整體
      &::-webkit-scrollbar {
        width: 8px;
      }
    
      //卷軸本身
      &::-webkit-scrollbar-thumb {
        background-color: rgba(193, 193, 193, 1);
        border-radius: 4px;

        &:hover {
          background-color: rgb(161, 161, 161);
        }
      }
    }
  }

  // UserContainer
  .userContainer {
    width: 100%;
    border: 1px solid rgba(230, 236, 240, 1);
    flex-direction: column;
    height: 100vh;
    padding-bottom: 60px;

    .userContainer-header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(230, 236, 240, 1);

      .header-content {
        margin: 16px;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
      }
    }

    .userContainer-user {
      height: 100%;
      overflow-y: auto;
      padding: 16px;
      display: flex;
      flex-wrap: wrap;

      //卷軸底部
      &::-webkit-scrollbar-track {
        background-color: rgba(240, 240, 240, 1);
      }

      //卷軸整體
      &::-webkit-scrollbar {
        width: 8px;
      }

      //卷軸本身
      &::-webkit-scrollbar-thumb {
        background-color: rgba(193, 193, 193, 1);
        border-radius: 4px;

        &:hover {
          background-color: rgb(161, 161, 161);
        }
      }
    }
  }

  // BannerContainer
  .bannerContainer {
    overflow: hidden;
    border: 1px solid rgba(230, 236, 240, 1);
    flex-direction: column;
    height: 100vh;
    padding-bottom: 60px;
    overflow-y: auto;

    //卷軸底部
    &::-webkit-scrollbar-track {
      background-color: rgba(240, 240, 240, 1);
    }

    //卷軸整體
    &::-webkit-scrollbar {
      width: 8px;
    }

    //卷軸本身
    &::-webkit-scrollbar-thumb {
      background-color: rgba(193, 193, 193, 1);
      border-radius: 4px;
      
      &:hover {
        background-color: rgb(161, 161, 161);
      }
    }
    .bannerContainer-header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(230, 236, 240, 1);

      .header-content {
        margin: 16px;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
      }
    }
    .bannerContainer-search {
      width: 100%;
      height: auto;
    }
    .bannerContainer-banner {
      padding: 16px;
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;

      .bannerContainer-banner-create {
        margin-bottom: 16px;
        align-self: flex-end;
        position: absolute;
        right: 150px;
        top: 30px;
        z-index: 2;
      }
      .bannerContainer-banner-table {
        width: 100%;

        .banner-table-img {
          width: auto;
          max-width: 230px;
          height: 80px;
        }
        .banner-table-btn {
          padding: 0;
        }
      }
    }
  }
}


.ant-table-content {
  // position: absolute;
  //卷軸底部
  &::-webkit-scrollbar-track {
    background-color: rgba(240, 240, 240, 1);
  }

  //卷軸整體
  &::-webkit-scrollbar {
    height: 8px;
    position: absolute;
  }

  //卷軸本身
  &::-webkit-scrollbar-thumb {
    background-color: rgba(193, 193, 193, 1);
    border-radius: 4px;

    &:hover {
      background-color: rgb(161, 161, 161);
    }
  }
}

.ant-form-item-extra {
  position: absolute;
  top: -30px;
  left: 100px;
  white-space: nowrap;
}